/** 
* Feuille de style pour les ecrans infértieurs a 640px
* 
* @client INRIA
* @project portail
* @author Kaliop 
* 
*/



/* STRUCTURE DE LA PAGE
---------------------------------------------------------------------------------------------------*/

body { background-size: 100%; }
/*body #page, body .overflow { width: 96%; }*/
#center, #right, .col, .bloc {
    float: none !important;
	width: auto !important;
	margin-left: 0 !important;
	padding: 0;
}
#content { margin-top: 20px; }
#content .bando { margin: 0; }
#content .bloc { padding: 5px !important; overflow-x: auto; }

#right .bloc.menu {
    display: none;
}


/* EN TETE DE PAGE : HEADER 
---------------------------------------------------------------------------------------------------*/

#top { line-height: 1; }
#top li { display: none; }
#top .lang {
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
    padding: 0;
    border: 0;
}
#top .lang a {
    display: block;
    padding: 7px 10px;
    border-radius: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: #f1f1f1;
}

#header .identite { padding: 0; }
#header .identite .logo { margin: 5px 5px 10px 5px; max-width: 40%; }
#header .identite .logo img { max-width: 100%; }
#header .identite .profils { display: none; }

#header .nav { float: none; }
/*#header .bloc_menu[style], #header .bloc_menu { height: auto !important; }*/
#header .menu .bar_nav { position: relative; z-index: 1; margin: 0; padding: 0; background: none; }
#header .menu .bar_nav #navigation { overflow: hidden; padding: 0; color: transparent; font-size: 1px; background: #384257; }
#header .menu .bar_nav #navigation a, #header .menu .bar_nav #navigation .btn_search {
    display: block;
    float: left;
    margin: 0;
    padding: 0 6px;
    border: 0;
    border-right: 1px solid #fff;
    line-height: 25px;
    font-size: 12px;
}
#header .menu .bar_nav #navigation .btn_search { border: 0; }
/*#header .menu .bar_nav #navigation a + a { margin-left: 3px; }*/
#header .menu .bar_nav #navigation a.clicked { background: #E63312; }
#header .menu .bar_nav #navigation .btn_search { margin-left: 3px; margin-top: -3px; padding: 6px 10px; line-height: 1; }

#header .menu .bar_nav form { display: none; position: relative; float: none; padding: 10px; background: #363842; }
#header .menu .bar_nav form .text { float: none; width: 100%; padding: 5px 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#header .menu .bar_nav form .submit { position: absolute; right: 10px; top: 10px; padding: 5px 10px; }
#header .menu .bar_nav #search.open { display: block; }

#header .bloc_menu { position: relative; z-index: 2; margin-top: -1px; border: 0; }
#header .bloc_menu .ss_menu { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0; border-top: 3px solid #24252c; }
#header .bloc_menu .col[style], #header .bloc_menu .col { min-height: 0 !important; padding: 0; border: 0; }
#header .bloc_menu .vue { margin: 0; }

#header .bloc_menu ul, #header .bloc_menu .libre ul { margin: 0; padding: 0; background: none; }
#header .bloc_menu li, #header .bloc_menu .libre li { margin: 0; padding: 0; background: none; }
#header .bloc_menu li a { margin: 0; padding: 8px 10px; background: #24252c; }
#header .bloc_menu li + li a { border-top: 1px solid #363842; }
#header .bloc_menu li a:after { content: url('../images/pictos/puce_triangle_nat_medium.png'); float: right; }
#header .bloc_menu li ul { margin: 0; display: none; }
#header .bloc_menu li li { margin: 0; }
#header .bloc_menu li li a { border-color: #24252c; background: #363842; }
#header .bloc_menu li li a:after { display: none; }
/*#header .bloc_menu ul ul { display: none; }*/
/*#header .bloc_menu ul .open ul { display: block; }*/

#header .bloc_menu .sommaire, #header .bloc_menu .view, #header .bloc_menu #close_menu { display: none; }

#header .sommaire_centre .visuel { display: none; }
#header .sommaire_centre .titre_centre { overflow: hidden; float: none; width: auto; margin-bottom: 10px; padding: 5px 0; }
#header .sommaire_centre .titre_centre h1 span { display: none; }
#header .sommaire_centre .titre_centre h1 strong { min-width: 0; margin: 0; padding: 5px; }
#header .sommaire_centre .navigation { float: none; margin: 0; background: #308099; font-size: 1em; }
#header .sommaire_centre .navigation a { display: inline-block; padding: 3px 5px; color: #FFF; }
#header .sommaire_centre .navigation a.selected, #header .sommaire_centre .navigation a:hover, #header .sommaire_centre .navigation a:focus { background: #308099; color: #fff; }
#header .sommaire_centre .bloc { float: none; margin: 0; margin-bottom: 20px; border: 0; }
#header .sommaire_centre .bloc h2 { float: none; margin-left: 0; font-size: 1em; }
#header .sommaire_centre .bloc .vue { margin: 0; padding: 5px 0; border-bottom: 1px solid #DCD7CD; background: none; }
#header .sommaire_centre .bloc .vue .intro { margin: 0; border: 0; }
#header .sommaire_centre .bloc .lien_bloc { margin: 10px 0 0 0; }

#header .titre { display:none; }
#header .fil { display:none; }

.centre #header .titre { display: block; min-height: 0; margin: 0; background: none; }
.centre #header .titre img { display: none; }
.centre #header .titre .rub { width: 100%; padding: 10px 0; }
.centre #header .titre .rub img { display: block; max-width: 100%; padding: 0; }
.centre #header .titre .navigation { float: none; margin: 0; font-size: 1em; font-weight: normal; }
.centre #header .titre .navigation a { display: inline-block; padding: 3px 5px; color: #FFF; }
.centre #header .titre .navigation a.selected, .centre #header .titre .navigation a:hover, .centre #header .titre .navigation a:focus { background: #308099; color: #fff; }

.language { display: none; }
#header .visionneuse { width: 100%; height: auto; float: none; }
.visionneuse .content_visio .infos { background: url(../images/bkgd/bg_visionneuse.png) repeat; color: #FFF; top: auto; left: 0; bottom: 0; right: 0; width: auto; padding: 10px 10px 25px 20px; }
.visionneuse .content_visio .infos * { color: #FFF; }
.visionneuse .infos strong { font-size: 1.1em; margin: 0; }
.visionneuse .copyright { z-index: 99; }
.visionneuse .flex-control-nav {text-align: center; margin-left: auto; }
#header .bloc.actus { width: 100%; clear: both; float: none; }


/* PARTIE CENTRALE : CONTENT 
---------------------------------------------------------------------------------------------------*/

/* ---------------  CONTENT => Mise en forme */
ul, ol {margin-left:0;}
#content .illustration[style], #content .illustration { width: auto !important; }
#content .bloc .left, #content .bloc .object-left { margin: 0 10px 0 0; }
#content .bloc .right, #content .bloc .object-right{ margin: 0 0 0 10px; }

#header .bar_nav .btn_search{
    background-size: 20px;
    width: 8px;
    height: 10px;
    z-index: 99;
}
#search { margin-top: -25px; }
/* ---------------  CONTENT => Form */

/* ---------------  CONTENT => Bloc */

#content .bloc h2 { float: none; }

#content .bloc[style], #content .bloc { min-height: 0 !important; }
#content .bloc .section_top { width: auto; }
#content .bloc .illustration .visu { padding: 1px; }

#content .bloc .intro .illustration,
#content .bloc .left,
#content .bloc .left .illustration,
#content .bloc .left .illustration img {
    float: none !important;
    width: 100% !important;
    margin-right: 0 !important;
}
#content .bando .bloc { padding: 5px 10px; }
#content .bando .bloc .lien_bloc {
    position: relative;
    bottom: auto;
    right: auto;
    margin: 10px 0 0 0;
}

/*Vue resume*/
#content .bloc .view { position: relative; }
#content .bloc .view .illustration { width: 100px !important; margin-right: 0.5em; }
#content .bloc .view h3 { margin: 0 !important; font-size: 1em; }
#content .bloc .view .meta { margin: 0 !important; font-size: 0.9em; }
#content .bloc .view .desc { display: none; }
#content .bloc .view .fil { display: none; }
#content .bloc .view h4 { display: none !important; }
#content .bloc .view .tag { display: none !important; }
#content .bloc .view .lien_vue { margin: 0 !important; }
#content .bloc .view .lien_vue a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 1px;
    color: transparent !important;
}


/* |||| BLOCS => vues formulaire */

#content .submit input, #content .submit a { min-width:6em; margin: 10px; }

/*Carrousel*/
#content .bloc .carrousel { margin: 0 64px; }

/*Slideshow*/
#content .bloc .diapo_flexslider #diapo_carousel { display: none; }


/*vues home*/
#page #content.home .bloc { margin-bottom: 20px !important; }
#page #content.home .bloc { margin-bottom: 20px !important; }
#page #content.home .bloc .list_picto li.vue { background: none; }

/*accordion & epi*/
#content .epi .titre_domaine,
#content .bloc.chapitre h3,
#content .toggler_off,
#content .toggler_on {
    min-height: 0 !important;
    margin: 0 0 10px 0 !important;
    padding: 4px 25px 4px 10px !important;
    border: 1px solid #DDD !important;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    line-height: 1.4 !important;
    text-decoration: none !important;
    text-shadow: 0 1px 0 #FFF;
    font-size: 1em !important;
    color: #222 !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#FFF),to(#F1F1F1));
    background-image: -webkit-linear-gradient(#FFF,#F1F1F1);
    background-image: -moz-linear-gradient(#fff,#f1f1f1);
    background-image: -ms-linear-gradient(#fff,#f1f1f1);
    background-image: -o-linear-gradient(#fff,#f1f1f1);
    background-image: linear-gradient(#FFF,#F1F1F1);
}
#content .epi .titre_domaine:after, #content .bloc.chapitre h3:after, #content .toggler_off:after { content: url('../images/pictos/puce_plus_nat.png'); right: 10px; margin-top: -8px; text-shadow: 0 1px 0 #FFF; }
#content .epi .titre_domaine.moins:after, #content .bloc.chapitre h3.moins:after, #content .toggler_on:after { content: url('../images/pictos/puce_moins_nat.png'); right: 10px; margin-top: -11px; text-shadow: 0 1px 0 #FFF; }
.centre #content .epi .titre_domaine:after, .centre #content .bloc.chapitre h3:after, .centre #content .toggler_off:after { content: url('../images/pictos/puce_plus_centre.png'); text-shadow: 0 1px 0 #FFF; }
.centre #content .epi .titre_domaine.moins:after, .centre #content .bloc.chapitre h3.moins:after, .centre #content .toggler_on:after { content: url('../images/pictos/puce_moins_centre.png'); text-shadow: 0 1px 0 #FFF; }


/* ---------------  CONTENT => Full */

#chapeau { margin-bottom: 0; }
#page #content .resultats .cartouche { padding: 1px 5px; margin-bottom: 0.5em; }

/* Article */
#content .bloc .left .illustration, #content .bloc .object-left .illustration { margin: 0 0 10px 0; }
#content .bloc .right .illustration, #content .bloc .object-right .illustration { margin: 0 0 10px 0; }


/* ---------------  CONTENT => Navigation */

#chapeau .onglets {
    overflow: hidden;
    position: relative;
    float: none;
    border-bottom: 0;
    font-size: 1em;
    margin: 0;
}
#chapeau .onglets:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #ccc;
}
#chapeau .onglets li { position: relative; z-index: 2; display: inline-block; min-width: 0; }
#chapeau .onglets li a, #chapeau .onglets li > strong {
    display: inline-block;
    padding: 3px !important;
    border: 1px solid #ccc;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    background: #fff !important;
    color: #363842;
}
#chapeau .onglets li a:hover, #chapeau .onglets li a:focus { background: #fff; color: #363842; }
#chapeau .onglets li a strong { padding: 0; }
#chapeau .onglets li strong, #chapeau .onglets li .link_strong { border-bottom-color: #f5f5f5; background: #f5f5f5 !important; color: #363842; }

#content .pagination { text-align: center; }
#content .pagination:first-child { display: none; }
#content .pagination li { display: none; }
#content .pagination li.prev, #content .pagination li.next { display: inline-block; }
#content .pagination li.prev a, #content .pagination li.next a { min-width: 75px; }


#content #repereArticle .top { display: none; }
#content .top { float: none; margin-right: 5px;  text-align: right; }
#content .top a {
    background-position: right 2px;
    padding-right: 20px;
    text-decoration: none;
}



/* PIED DE PAGE : FOOTER
---------------------------------------------------------------------------------------------------*/

.prefooter h2 { display: block; }
.prefooter li { margin-left: 15px; }

.footer .col { min-height: 0; padding: 0; border: 0; }
.footer .col:nth-child(2), .footer .col:nth-child(4) { display: none; }
.footer .shortcuts .inline li { display: inline-block; float: none;}
.footer h2 { min-height: 0; }

.footer .shortcuts { padding: 10px; }

.footer.satellites .overflow { width: 100%; padding: 5px 0; }
.footer.satellites li { padding: 0 5px; }


/*------------------Social-------------------*/
.social_networks img{
    width: 20px;
    height: 20px;
}
.social_networks{
    margin-bottom: 5px;
}
.social_networks .facebook_share {
    float: left;
    background: #537ABF;
    color: #fff;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 70px;
}
.social_networks .img_facebook {
    background-color: #3a589b;
}
.social_networks .twitter_share {
    float: left;
    background: #719aca;
    color: #fff;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 70px;
}
.social_networks .img_twitter {
    background-color: #598dca;
}
.social_networks .linkedin_share {
    float: left;
    background: #1384C8;
    color: #fff;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 70px;
}
.social_networks .img_linkedin {
    background-color: #007ab9;
}
.social_networks .mailto_share {
    float: left;
    background: #E63312;
    color: #fff;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 70px;
}
.social_networks .img_mail {
    background-color: #d32b2b;
}
.social_networks .div_share {
    padding-right: 5px;
    border-radius: 20px;
    margin : 1px;
    float: left;
    height: 30px;
}
.social_networks .img_share {
    float: left;
    line-height: 30px;
    height: 30px;
}

#content.home .bloc.half.bloc_half_right{
    margin-left: 0 !important;
    width: 48.5%;
}