/* ---- TalentLink styles ---- */
/* Search mask styles */

SELECT, INPUT.SA-KWF { }

.SA-T2 { font-family: Arial, Helvetica, Lucida, sans-serif; }	/* Search mask table */

.SA-F1, .SA-F2, .SA-F3, .SA-F4, .SA-F5, .SA-F6, .SA-F7, .SA-F8 {
	font-family: Arial, Helvetica, Lucida, sans-serif;
	width: 254px;
	font-size: 11px;
	padding: 0px 0px 2px 0px;
	color: #000000; }					/* Input texts and label width and font type */
.SA-L41 { font-family: Arial, Helvetica, Lucida, sans-serif; font-weight: bold; 
	font-size: 11px;
	padding: 0px 0px 2px 0px;
	color: #594FBF; }
.SA-L42 { font-family: Arial, Helvetica, Lucida, sans-serif;
	font-size: 11px;
	padding: 0px 0px 2px 0px;
	color: #594FBF; }
TD.SA-F1, TD.SA-F2, TD.SA-F3, TD.SA-F4, TD.SA-F5, TD.SA-F6, TD.SA-F7 {
	font-weight: bold; 
	color: #594FBF;
}

.SA-FKW { font-size: 11px; }

/* Input keyword search */
.SA-KWF, .SA-KWL { width: 254px; font-size: 11px; }	

.SA-L5 { padding: 8px 0px 0px 0px; }		/* Spacing between input and button */

.submitbutton { padding: 0px 10px 0px 0px; }

/* Search button */
.buttonspace { width: 6px }
.buttonface, A.buttonface { 
	/*background: #594FBF;*/
	font-size: 11px;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	white-space: nowrap }
.button {
	font-family: Arial, Helvetica, Lucida, sans-serif;
	/*background: #594FBF;*/
	width: 100px;
	border-color: #EEEEEE #000000 #000000 #EEEEEE;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	padding: 0px 4px 0px 4px; 
	 }
A.buttonface:visited, A.buttonface:hover { color: #FFFFFF; text-decoration: none; }
	
/* List component */
.LstA-T1 { font-family: Arial, Helvetica, Lucida, sans-serif; width: 90%; }

.LstA-NoJobs { font-weight: bold; font-size: 11px; }
.LstA-SrCrtLabel, .LstA-SrCrtText { font-weight: normal; font-size: 11px; padding: 0px 0px 6px 0px; }

.topspace { padding: 10px 0px 2px 0px; }		/* List spacers */
.botspace { padding: 10px 0px 2px 0px; }
.critspacer { font-size: 10px; line-height: 10px; }
/* .greyline { background: #000000; font-size: 1px; line-height: 1px; } */
	
.criteria-txt { font-weight: bold; font-size: 11px; }				/* Search results text */
A.criteria-txt, A.criteria-txt:visited { color: #000000; white-space: nowrap; text-decoration: underline;} 
A.criteria-txt:hover { text-decoration: none; color: #000000; }

/* List heading 1,2,3, etc. width, colors and font sizes etc. */
TD.LstAHead1 { background: #D60098; font-color: #FFFFFF; width: 200px;
	font-size: 11px;
	padding: 2px 0px 2px 4px;
	border-color: #EEEEEE #FFFFFF #FFFFFF #EEEEEE;
	border-style: solid;
	border-width: 1px 1px 0px 1px; }
TD.LstAHead2, TD.LstAHead3 { background: #D60098; color: #FFFFFF; width: 120px;
	font-size: 11px;
	padding: 2px 2px 2px 4px;
	border-color: #EEEEEE #FFFFFF #FFFFFF #EEEEEE;
	border-style: solid;
	border-width: 1px 1px 0px 1px; }
TD.LstAHead4 { background: #D60098; color: #FFFFFF; width: 80px;
	font-size: 11px;
	padding: 2px 2px 2px 4px;
	border-color: #EEEEEE #FFFFFF #FFFFFF #EEEEEE;
	border-style: solid;
	border-width: 1px 1px 0px 1px; }

TD.LstAHeade { background: #D60098; color: #FFFFFF; width: 80px;
	font-size: 11px;
	padding: 2px 2px 2px 4px;
	border-color: #EEEEEE #EEEEEE #FFFFFF #EEEEEE;
	border-style: solid;
	border-width: 1px 1px 0px 1px; } 

/* Sorting links in the headers... */
A.LstSubheading, A.LstSubheading:visited { font-weight: bold; color: #FFFFFF; text-decoration: underline; white-space: nowrap } 
A.LstSubheadingSel { font-weight: bold; color: #FFFFFF; text-decoration: underline; white-space: nowrap; }
A.LstSubheading:hover, A.LstSubheadingSel:hover { text-decoration: none; color: #FFFFFF; }

/* Define the style of the expiration item */
.wingding { font-family: Wingdings; font-size: 18px; font-weight: normal; color: #990000; }

/* It's possible to define seperate styles for odd, or even rows: TD.lstA-desc11, TD.lstA-desc21, TD.lstA-desc2e (last row, last column) */
/* List content column 1, 2, 3and last column is e */

TD.lstA-desc11, TD.lstA-desc21 { padding: 2px 0px 2px 4px;
	font-size: 11px;
	background: #FFFFFF;
	border-color: #FFFFFF #FFFFFF #EEEEEE #EEEEEE;
	border-style: solid;
	border-width: 0px 1px 1px 1px; }
	
TD.lstA-desc12, TD.lstA-desc22 { 
	padding: 2px 2px 2px 4px;
	font-size: 11px;
	border-color: #FFFFFF #FFFFFF #EEEEEE #FFFFFF;
	border-style: solid;
	border-width: 0px 1px 1px 1px }
	
TD.lstA-desc13, TD.lstA-desc23, TD.lstA-desc14, TD.lstA-desc24, TD.lstA-desc15, TD.lstA-desc25 { 
	padding: 2px 2px 2px 4px;
	font-size: 11px;
	border-color: #FFFFFF #FFFFFF #EEEEEE #FFFFFF;
	border-style: solid;
	border-width: 0px 1px 1px 1px }
	
TD.lstA-desc1e, TD.lstA-desc2e { padding: 2px 2px 2px 4px;
	font-size: 11px;
	border-color: #FFFFFF #EEEEEE #EEEEEE #FFFFFF;
	border-style: solid;
	border-width: 0px 1px 1px 1px; } 

/* Job description links */
A.lstA-desc1, A.lstA-desc2, A.lstA-desc3, A.lstA-desc4 { 
	font-size: 11px;
	font-weight: bold;
	color: #594FBF;
	text-decoration: none; }
A.lstA-desc1:visited, A.lstA-desc2:visited, A.lstA-desc3:visited, A.lstA-desc4:visited  {
	color: #888888; text-decoration: underline; }
A.lstA-desc1:hover, A.lstA-desc2:hover, A.lstA-desc3:hover, A.lstA-desc4:hover  {
	text-decoration: underline; color: #000000;} 

/* Page navigation in bottom... */
TD.lst-resnav { text-align: right; 
	padding: 10px 2px 2px 4px;
	font-size: 11px;
	border-color: #FFFFFF #EEEEEE #EEEEEE #EEEEEE;
	border-style: solid;
	border-width: 0px 1px 1px 1px }  

/* Button alignment in bottom (below list) */
TD.LstA-bottom, TD.LstA-bottom2 { padding: 0px 10px 0px 0px; } 

/* Job description component */
.JD-Tmaster { font-family: Arial, Helvetica, Lucida, sans-serif; 
	border-color: #FFFFFF #FFFFFF #FFFFFF #FFFFFF;
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	width: 90%; }

.leftpanebutton { padding: 8px 20px 10px 0px; text-align: center; 
	border-color: #FFFFFF #DDDDDD #FFFFFF #FFFFFF;
	border-style: solid;
	border-width: 0px 1px 0px 0px; }
.centerpanebuttons { padding: 6px 20px 10px 10px; valign: top; }
.toppanebuttons { padding: 0px 0px 4px 0px; width: 100%;  }

.Lstspace, .descspacer, .titspacer { font-size: 4px; line-height: 4px; }
.bottompanebuttons { width: 100%; text-align: right; }
.sendbutton { text-align: right; padding-bottom: 0px; }
.middlebuttonheader { font-size: 11px; font-weight: bold; color: #000000;
	border-width: 0px 0px 1px 0px;
	border-color: #006699 #006699 #006699 #006699;
	border-style: solid;
	padding: 8px 0px 0px 0px; }
.middlebuttons { padding: 4px 0px 0px 0px; }
.printbutton { text-align: right; width: 20px; }
.applybutton { text-align: left; padding: 0px 10px 0px 0px; }
.applybutton2 { padding: 0px 10px 0px 0px; }

.JD-Title { font-size: 16px; color: #594FBF; font-family: Arial; font-weight: bold;
	padding: 10px 6px 0px 0px; 
	border-width: 1px 0px 1px 1px;
	border-color: #FFFFFF #FFFFFF #FFFFFF #FFFFFF;
	border-style: solid;}
.JD-TitleBis { text-align: right; }

.contspacer { padding-top: 2px; }

.JD-HDTable { width: 240px; }
.JD-HDTitle { font-size: 11px; background: #EEEEEE; color: #FFFFFF; font-weight: normal;
	padding: 3px 8px 3px 4px; } 
.JD-HDLabel { font-size: 11px; font-weight: normal; color: #594FBF;
	border-width: 0px 0px 0px 0px;
	border-color: #FFFFFF #FFFFFF #FFFFFF #FFFFFF;
	border-style: solid; } 
.JD-HDText { font-size: 11px; font-weight: normal; padding: 3px 8px 3px 4px;
	border-width: 0px 0px 0px 0px;
	border-color: #FFFFFF #FFFFFF #FFFFFF #FFFFFF;
	border-style: solid; } 	/* Left pane label text */
	
.JD-FieldLabel1 { font-size: 14px; font-weight: bold; text-align: left; }
.JD-FieldText1 { font-size: 14px; font-weight: bold; }
.JD-FieldLabel { font-size: 11px; font-weight: bold; color: #594FBF; padding: 3px 8px 3px 0px;}	/* Job descrtiption pane label */
.JD-FieldText { font-size: 11px; padding: 2px 0px 10px 0px; color: #000000; }
.JD-Print { text-align: right; padding: 6px 0px 10px 0px; }

/* Search agent */
.Search-lab { font-size: 11px; color: #000000; font-weight: bold; padding: 12px 0px 0px 0px;}
.Search-txt { font-size: 11px; font-weight: normal; }
INPUT.search-txt { width: 201px; }
.SA-search { font-size: 11px; font-weight: bold; color: #000000; }
.SA-Bottom { font-size: 11px; font-weight: normal; }
.SA-radio { padding: 0px 0px 0px 10px; font-size: 11px; color: #000000; }
.SA-input { padding: 0px 0px 0px 0px; font-size: 11px; }
.SA-smalltext { font-size: 11px; color: #000000; font-weight: normal; }
.SA-spacer { padding: 0px 0px 4px 0px; }
.SA-bottom { padding: 4px 0px 0px 0px; }
.SA-setButton { }
.SA-backbutton { padding: 0px 0px 0px 10px; }
.SA-headspacer { font-size: 11px; font-weight: bold; color: #000000;
	border-width: 0px 0px 1px 0px;
	border-color: #006699 #006699 #006699 #006699;
	border-style: solid;
	padding: 12px 0px 0px 0px; }

/* Search agent activation confirmation */
.barnavybold { font-family: Arial, Helvetica, Lucida, sans-serif; font-size: 11px; font-weight: normal; }

/* Delete agent */
.DA-spacer { padding: 0px 0px 4px 0px; }
.DA-backbutton { }

/* Candidate portal login */
.CHP-Log { font-family: Arial, Helvetica, Lucida, sans-serif; }
.linespace { padding: 0px 0px 4px 0px; }
.bottomspace { }
.forgotspace { padding: 10px 0px 0px 0px; }
TD.CHP-LoginLab { width: 140px; }
.CHP-LoginButton { text-align: right; padding-right: 2px; }
.CHP-LoginLab, .CHP-Forgot, .CHP-text { font-family: Arial, Helvetica, Lucida, sans-serif; font-size: 13px; }
.chpfailedlog { font-size: 13px; color: #990000; font-weight: bold; }

/* Candidate portal */
.CHP-T1 { width: 100%; font-family: Arial, Helvetica, Lucida, sans-serif; }

.chpspacer { padding: 0px 0px 10px 0px; }
.CHP-Welcome { font-size: 13px; font-weight: bold; }
.CHP-Welcome2 { font-size: 11px; font-weight: normal; }
.prgspacer { font-size: 11px; font-weight: bold; padding: 4px 0px 2px 0px; }
.chp-col1, .chp-col2, .chp-col3, .chpjob, .chpdate { font-size: 11px; font-weight: normal; }
.chpaction, .chpEditPIF, .chpPass { font-size: 11px; font-family: Arial, Helvetica, Lucida, sans-serif; }

A.chpaction, .A.chpaction:visited, A.chpEditPIF, A.chpEditPIF:visited, A.chpPass, A.chpPass:visited, A.chpApp, A.chpApp:visited, A.chpDelete, A.chpDelete:visited , A.chp-loginlink:visited { color: #000000; white-space: nowrap; font-weight: normal; } 
A.chpaction:hover, A.chpEditPIF:hover, A.chpPass:hover, A.chpApp:hover, A.chpDelete:hover, A.chp-loginlink:hover { text-decoration: none; color: #000000; }

.CHP-titleH { font-family: Arial, Helvetica, Lucida, sans-serif; padding: 10px 0px 4px 0px; font-size: 11px; font-weight: bold; }
.CHP-job { font-family: Arial, Helvetica, Lucida, sans-serif; font-size: 11px; padding: 0px 20px 0px 0px; }
TD.chparrow { text-align: right; }

/* White label login */
TR.ss44 { padding: 2px 0px 2px 0px; }
.ss44 { font-family: Arial, Helvetica, Lucida, sans-serif; font-size: 11px; font-weight: normal; }
TR.ss161 { padding: 10px 0px 0px 0px; }
A.ss161 { font-family: Arial, Helvetica, Lucida, sans-serif; font-size: 11px; font-weight: bold; color: #000000; }
INPUT.ss65 { width: 200px }
.ss58, .ss65 { font-family: Arial, Helvetica, Lucida, sans-serif; font-size: 11px; }
TD.ss136 { text-align: right; }
INPUT.ss83 { font-size: 11px; color: #FFFFFF; background: #000066; width: 120px; cursor: pointer; height: 20px; }	

/************************/
/* dark magic done here */
/************************/
.LstA-T1 td {border:none;}
.tab_vue_simple .LstA-SrCrtLabel, .tab_vue_simple .topspace, .tab_vue_simple .lst-resnav,
.tab_vue_simple .LstAHead2, .tab_vue_simple .LstAHead4, .tab_vue_simple .LstAHeade,
.tab_vue_simple .lstA-desc12, .tab_vue_simple .lstA-desc14, .tab_vue_simple .lstA-desc1e,
.tab_vue_simple .lstA-desc22, .tab_vue_simple .lstA-desc24, .tab_vue_simple .lstA-desc2e {display:none;}
.tab_vue_simple .botspace .lst-button{
	display: none;
}
#content .bloc .tab_vue_simple table,
#content .bloc .tab_vue_simple table td{
	border: none;
}
/************************/

.ted_connect #content table td, .ted_connect .button {
	border:none;
}
