#cookie-bar {background:#FFFFCC; min-height:18px; line-height:18px; color:#333333; text-align:center; padding:3px 0;}
#cookie-bar.fixed {position:fixed; top:0; left:0; width:100%; z-index: 1000;}
#cookie-bar.fixed.bottom {bottom:0; top:auto;}
#cookie-bar p {margin:0; padding:0; font-size: 12px; font-weight:normal;}
#cookie-bar a {color:#333333; display:inline-block; border-radius:3px; text-decoration:none; padding:0 6px; margin-left:8px; /*float:right;*/ margin-right:10px;}
#cookie-bar .cb-enable {background:#cccccc;}
#cookie-bar .cb-enable:hover {background:#bbbbbb;}
#cookie-bar .cb-disable {background:#990000;}
#cookie-bar .cb-disable:hover {background:#bb0000;}
#cookie-bar .cb-policy {background:#FDD74E;}
#cookie-bar .cb-policy:hover {background:#ffd145;}
