/** 
* Feuille de style pour les ecrans infértieurs a 900px
* 
* @client INRIA
* @project portail
* @author Kaliop 
* 
*/



/* STRUCTURE DE LA PAGE
---------------------------------------------------------------------------------------------------*/ 

body { -webkit-text-size-adjust: none; }
#center { width: 65.5%; }
#right { width: 32%; }


/* HEADER 
---------------------------------------------------------------------------------------------------*/

#header .bloc_menu .vue .illustration { width: 70px; }
#header .bar_nav { margin: 0 10px; }
#header .nav { font-size: 1.1em; }
#header .bar_nav form { position: relative; }
#header .bar_nav .submit { position: absolute; right: 0; top: 0; }
#header .fil { margin: 0 10px; }

#header .sommaire_centre .visuel { height: 100%; width: auto; max-width: none; left: auto; right: 0; }
#header .sommaire_centre .titre_centre { float: none; width: auto; padding: 10px; }
#header .sommaire_centre .navigation { background: none; float: none; }
#header .sommaire_centre .navigation a { background: #308099; padding: 2px 10px; }
#header .sommaire_centre .navigation a.selected, #header .sommaire_centre .navigation a:hover, #header .sommaire_centre .navigation a:focus { background: #FFF; color: #308099; }
#header .sommaire_centre .bloc { width: 45%; margin: 10px; border: 1px solid #F5F5F5; }
#header .sommaire_centre .bloc + .bloc { float: right; }

#surtop .language {
    right: 10px;
}

#header .bar_nav .btn_search{
    height: 18px;
}
#search { margin-top: -31px; }

/* PARTIE CENTRALE : CONTENT 
---------------------------------------------------------------------------------------------------*/

/* ---------------  CONTENT => Mise en forme */

#content .illustration { max-width: 100%; margin: 0; }


/* ---------------  CONTENT => Bloc */

#content .bloc { position: relative; padding: 5px 10px; }
#content .bloc h2 { font-size: 1.4em; }
#content.home .bloc h2, .sommaire_centre .bloc h2 { padding: 5px 10px; font-size: 1em; }
#content .bloc .intro .illustration { width: 45% !important; }
#content .bloc .lien_bloc, #header .sommaire_centre .bloc .lien_bloc { margin: 0; padding: 0; background: none; font-size: 1em; }
#content .bloc .lien_bloc a, #header .sommaire_centre .bloc .lien_bloc a {
    display: block;
    padding: 5px 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #363842 !important;
    text-align: left;
    text-decoration: none !important;
    border: 1px solid #ddd;
    color: #222;
    text-shadow: 0 1px 0 #FFF;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#FFF),to(#F1F1F1));
    background-image: -webkit-linear-gradient(#FFF,#F1F1F1);
    background-image: -moz-linear-gradient(#fff,#f1f1f1);
    background-image: -ms-linear-gradient(#fff,#f1f1f1);
    background-image: -o-linear-gradient(#fff,#f1f1f1);
    background-image: linear-gradient(#FFF,#F1F1F1);
}
#content .bloc .lien_bloc a:after, #header .sommaire_centre .bloc .lien_bloc a:after { content: url(../images/pictos/puce_triangle_noir_medium.png); float: right; margin-left: 10px; }

#content .bando .bloc { padding: 5px 10px 45px 10px; }
#content .bando .bloc .lien_bloc {
    position: absolute;
    bottom: 10px ;
    right: 10px;
    margin: 0;
}


/* |||| BLOCS => social + addthis */

#page #content .bloc.social li { margin: 2px; padding: 0; }
#content .bloc.social li a {
    padding: 5px;
    /*border: 1px solid #f1f1f1;*/
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #f1f1f1;
}



/* |||| BLOCS => vues formulaire */

/* champs texte */
#content .formulaire .text input,
#content .formulaire .textarea textarea,
#content .formulaire .select select {
    width:100%;
}


/* |||| BLOCS => vues liste */
#content .bloc .list_picto strong { overflow: visible; }
#content.home .list_picto { border: 0; }
#page.centre #content.home .bloc .list_picto li.vue { padding: 5px 0; background: none; }


/*Carrousel*/
#content .bloc.medium .carrousel, #content .bloc.small .carrousel, #content #right .bloc .carrousel { margin: 0 25px; }
#content .bloc.medium .carrousel .flex-direction-nav .flex-prev, #content .bloc.small .carrousel .flex-direction-nav .flex-prev, #content #right .bloc .carrousel .flex-direction-nav .flex-prev {  left: -25px !important; }
#content .bloc.medium .carrousel .flex-direction-nav .flex-next, #content .bloc.small .carrousel .flex-direction-nav .flex-next, #content #right .bloc .carrousel .flex-direction-nav .flex-next {  right: -25px !important; }



/* ---------------  CONTENT => Full */

/* Article */
#content .bloc.article .top { display: none; }
#content .bloc .section_top { width: auto; }

#content .bloc.chapitre h3 { font-size: 1em; }


/* EPI */
#content .epi .titre_domaine { font-size: 1em; }
#content .epi .titre_theme { margin-left: 0; }
#content .epi .section li { margin-left: 8px; }


/* ---------------  CONTENT => Navigation */

#content .pagination:first-child { display: none; }
#content .pagination li a, #content .pagination li strong {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: #F1F1F1;
    color: #363842;
}
#content .pagination li strong {
    padding: 4px 9px;
    border: 1px solid #F1F1F1;
    background: #fff;
    text-decoration: none;
    font-weight: normal;
}

/* onglets */
#chapeau .onglets { font-size:1em; }
#chapeau .onglets li { min-width: 0; }
#chapeau .onglets li a, #chapeau .onglets li strong { padding: 5px 10px; }



/* PIED DE PAGE : FOOTER
---------------------------------------------------------------------------------------------------*/

.prefooter ul {
    display: block;
}
.prefooter h2 + ul { margin-top: 20px; }
.prefooter li:first-child { margin-left: 0; }


.footer .overflow { width: auto; }
.footer.satellites li { padding: 0 5px; }
