﻿/* ::::::::::::::::::::::::::::::: ELEMENTS NON AFFICHES */
#top,
#header .profils,
#header .menu,
#header .titre img,
.pagination,
.alphabet,
.horschamp,
.lien_bloc,
.lien_vue,
.lien_file,
.top,
.social,
#chapeau .onglets,
#content .bloc .sommaire,
#content .bloc .carrousel .go_prev,
#content .bloc .carrousel .go_next,
#content .bloc .calendar,
.visionneuse,
.sommaire_centre .navigation,
.sommaire_centre .visuel,
#filter_publication,
form,
.formulaire,
.slideshow ul,
.slideshow .controll,
.footer,
.template,
#debug{
	display:none;
}
/* ::::::::::::::::::::::::::: INITIALISATION DES STYLES */
body{
	font-family:times, serif;
	background:#fff;
	color:#000;
	padding:0;
	margin:0;
	font-size:10pt;
}
body *{
	padding:0;
	margin:0;
	border:none;
}
a{
	color:#000;
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    font-family:arial, verdana, sans-serif;
    page-break-after:avoid
}
.clear{
	clear:both;
}
li{
	list-style-position:inside;
}
/* ::::::::::::::::::::::::::::::::::::  ENTETE */
#header .logo{
    float:left;
    margin-right:20pt;
    margin-bottom:20pt;
}
#header .titre h1{
    margin:10pt 0;
}
#header .fil{
    font-size:8pt;
}
/* ::::::::::::::::::::::::::::::::::::  PARTIE CENTRALE */
#content {
    clear:both;
}
/* :::::::  CONTENU => chapeau */
/* cartouche */
#chapeau .cartouche{
	color:#E63312; 
	font-weight:bold;
}
/* titre de dossier */
#chapeau h1{
	font-size:13pt;
	margin-bottom:1em;
}
/* |||||||||||||||||||||||||||||||||||| STYLES GENERIQUES */
#content .meta {
    color:#888888;
    padding-top:0.3em;
}
/* |||||||||||||||||||||||||||||||||| BLOCS */

/* |||| BLOCS => design */
#content .bloc{
	clear:both;
}
#content .bloc .vue{
	clear:both;
	margin:0 0 0.5em 0;
}
#content .bando{
	clear:both;
	margin-bottom:15pt;
}
/* blocs secondaires */
#content .secondaire{
	border:1px solid #f1f1f1;
	padding:10pt;
	padding-top:0;
}
/* |||| BLOCS => intro */
#content .bloc .intro{
	font-weight:bold;
	overflow:hidden;
}
/* |||| BLOCS => titres */
#content .article .cartouche{
	color:#E63312;
	display:inline;
}
#content .article .meta{
	color:#888;
	display:inline;
}
#content .bloc h2{
	color:#E63312;
	font-size:14pt;
	margin:0.5em 0 1em 0;
	font-weight:normal;
	border-bottom:1px solid #E63312;
}
#content .bloc h2 a{
	color:#E63312;
}
#content .bloc h3{
    color:#E63312;
    font-size:13pt;
    margin:1em 0 0.5em 0;
}
#content .bloc h4{
    font-size:12pt;
    margin:1em 0 0.5em 0;
}
#content .bloc h5{
    font-size:11pt;
    margin:1em 0 0.5em 0;
    color:#888888;
}
#content .bloc h6{
    font-size:10pt;
    margin:1em 0 0.5em 0;
    color:#888888;
}
#content .secondaire h2{
	border:0;
}
#content .secondaire h2 img{
	float:right;
}
#content .secondaire h3{
	font-size:11pt;
	color:#363842;
	margin:0.5em 0 0.3em 0;
}
/* |||| BLOCS => paragraphes et listes */
#content .bloc p,
#content .bloc ul,
#content .bloc ol{
	margin-bottom:1em;
}
#content .bloc ul,
#content .bloc ol{
	margin-left:1.5em;
}
#content .bloc li{
	margin:0.1em 0;
} 
#content .bloc ul ul,
#content .bloc ul ol,
#content .bloc ol ul,
#content .bloc ol ol{
	margin:0.5em 0 0.5em 2.5em;
}
#center .bloc .list_tag{
	margin-left:0;
	color:#E63312;
	font-weight:bold;
} 
#center .bloc .list_tag li{
	padding:0;
	margin:0.5em 0;
	list-style:none;
} 
#center .bloc .list_tag strong{
	color:#363842;
} 
#content .bloc blockquote{
	font-style:italic;
	text-align:center;
	margin-bottom:1em;
}
#content .bloc blockquote *{
	display:inline;
}
/* blocs secondaires */
#content .secondaire .libre ul{
	margin-left:0;
} 
#content .secondaire .libre ul li{
	margin:0 0 0.5em 0;
} 
#content .bloc.secondaire p,
#content .bloc.secondaire ul,
#content .bloc.secondaire ol{
	margin-bottom:0.3em;
}
/* |||| BLOCS => images */
#content .bloc .illustration{
}
#content .bloc .illustration img{
	border:1px solid #c3c4c9;
	background:#fff;
	padding:2pt;
}
#center .bloc .legende{
	font-size:8pt;
	font-weight:normal;
	color:#888888;
	display:block;
	text-align:center;
}
/* |||| BLOCS => positionnement des éléments */
#content .bloc .left, #content .bloc .object-left{
	float:left;
	margin:0;
	margin-right:1.5em;
}
#content .bloc .right, #content .bloc .object-right{
	float:right;
	margin:0;
	margin-left:1.5em;
}
#content .bloc .object-center {
	margin:0 auto;
}
#content .bloc .center p,  #content .bloc .object-center p{
	margin:0 auto;
	text-align:center;
}
/* |||| BLOCS => tableaux de données */
#content .bloc table{
	width:100%;
	border-collapse:collapse;
	margin:1em 0;
}
#content .bloc table caption{
	font-size:12pt;
    border:1px solid #363842;
    border-bottom:0;
    color:#E63312;
	text-align:left;
    font-style:italic;
    padding:0.5em 1em;
}
#content .bloc table th{
	font-size:12pt;
    border:1px solid #363842;
    color:#E63312;
	text-align:left;
    font-style:italic;
    font-weight:normal;
    padding:0.5em 1em;
}
#content .bloc table td{
	border:1px solid #363842;
	padding:0.5em 1em;
	background:#fff;
}
#content .bloc table tfoot td{
	border:0;
	padding:0;
	color:#888888;
	text-align:right;
	font-size:8pt;
	padding-top:0.5em;
}
/* |||| BLOCS => vues resumees */
#content .bloc .view p,
#content .bloc .view ul,
#content .bloc .view ol{
	margin-bottom:0.5em;
}
#content .bloc .view .illustration{
    float:left;
    margin-right:1em;
}
#content .bloc .view .intro{
    margin:0;
    overflow:hidden;
    font-weight:normal;
}
#content .bloc .view h3{
    font-size:11pt;
    margin:0;
}
#content .bloc.article .view h3{
    color:#363842;
}
#content .bloc .view .meta{
    margin:0;
    color:#888888;
}
#content .bloc.small .view .meta{
    display:none;
}
#content .bloc.small .carrousel .view .meta{
    display:inline;
}
#content .bloc.article .view{
	border-bottom:1px solid #D0D0D2;
	margin-bottom:1.5em;
}
/* |||| BLOCS => vues liste */
#content .bloc .list_picto{
    margin-left:0;
    font-size:10pt;
    color:#363842;
    margin:0;
    font-weight:bold;
    list-style:none;
}
#content .bloc .list_picto .illustration{
    float:left;
    margin-right:0.5em;
}
#content .bloc .list_picto  strong{
    overflow:hidden;
    display:block;
}
#content .bloc .list_picto  a{
    color:#363842;
}
/* |||| BLOCS => encart de mise en avant de contenu */
#content .bloc .highlight_box{
    border:1px solid #E63312;
	padding:10pt;
	padding-top:0;
	margin:1.5em 0;
}
/* pour les commentaires */
#content .bloc_actu .highlight_box{
    margin-top:0;
}
#content .bloc_actu .highlight_content h3{
    font-size:12pt;
    margin: 0 ;
    text-align:left;
}
#content .bloc_actu .highlight_content .meta{
    font-size:8pt;
    color:#fff;
    font-style:italic;
}
#content .bloc_actu .highlight_content .illustration{
    float:left;
    margin-right:1em;
}
#content .bloc_actu .highlight_content .intro{
    overflow:hidden;
    font-weight:normal;
}
/* cartographie */
#content .bloc .carto{
    margin: 2em 0;
}
/* |||||||||||||||||||||||||||||||||| LISTES RE RESULTATS */
/* |||| LISTES RE RESULTATS => vues */
#content .resultats .view{
	margin-bottom:1.5em;
}
#content .resultats .cartouche{
	font-weight:bold;
	margin-bottom:0.7em;
}
#content .resultats .local{
	background:#E63312;
}
#content .resultats .view h3{
    margin-bottom:0.2em;
    color:#E63312;
}
#content .resultats .view h3 a{
   color:#E63312;
}
#content .resultats .view .meta{
    margin-bottom:0.7em;
}
#content .resultats .view .tag{
    margin:0;
    font-size:9pt;
}
#content .resultats .view .tag li{ 
    padding:0;
    margin:0;
    background:none;
    display:inline;
}
#content .resultats .view .tag a{ 
    color:#888;
    text-decoration:none;
}
/* |||| LISTES RE RESULTATS => publications issues du HAL */
#content #res_script .SousRubrique {
    font-weight:bold;
    font-size:1.2em;
    margin:1.5em 0;
}
#content #res_script dl{
    clear:both;
    margin:0 0 2em 0 ;
    overflow:hidden;
}
#content #res_script dt{
    display:none;
}
#content #res_script dd{
    margin-left: 0;
}
#content #res_script .Vignette{
    float:left;
    margin-right:12px;
    margin-bottom:0.5em;
    margin-left: 0;
}
#content #res_script .Vignette img{
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #CCCCCC;
    padding:2px;
}
#content #res_script .Titre{
    font-weight:bold;
    color:#E63312;
    font-size:1.1em;
    margin:0 0 0.5em 0;
}
#content #res_script .Titre a{
    color:#E63312;
    text-decoration:none;
}
#content #res_script .Titre a:hover,
#content #res_script .Titre a:focus{
    text-decoration:underline;
}
#content #res_script .Auteurs{
    color:#888888;
    margin-bottom:0.7em;
}
#content #res_script .Detail{
    margin-bottom:0.5em;
}
#content #res_script .Fichier_joint a{
    text-decoration:none;
    padding:0 0.5em 0 0;
}
/* ::::::::::::::::::::::::::::::::::::::::::::  ACCUEIL */
/* |||| ACCUEIL => visionneuse */
.visionneuse{
    display:none;
}
/* |||| ACCUEIL => blocs */
#content.home .bloc h2{
    margin-bottom:0.7em;
    padding-top:1.5em;
}
#content.home .libre h3{
    font-size:12pt;
    margin-top:0;
}
#content.home .libre p{
    margin-bottom:0.2em;
}
#content.home .libre .illustration{
    margin-bottom:0.5em;
}
#content.home  .list_picto{
    margin-top:1em;
}
#content.home .list_picto a{
    color:#7f7b7b;
}
/* ::::::::::::::::::::::::::::::::::::::::::::  CENTRES */
/* titre */
.sommaire_centre .titre_centre{
    float:right;
}
.sommaire_centre .titre_centre h1{
	font-size:14pt;
}
.sommaire_centre .titre_centre h1 span{
	display:block;
}
.sommaire_centre .titre_centre h1 strong{
	clear:both;
	float:right;
}
.centre #header .titre h1 img{
    display:block;
}
.centre #header .titre h1{
    padding-top:20pt;
}
.centre .titre .navigation{
    display:none;
}
.centre .fil{
    clear:both;
}
/* blocs d'actus */
.sommaire_centre .bloc {
    display:none;
}
/* ::::::::::::::::::::::::::::::::::::::::::::  MR TED */
#content .bloc table.LstA-T1,
#content .bloc table.LstA-T1 *{
    border:0;
}
#content .bloc table.LstA-T1 tr{
    border-bottom:1px solid #ccc;
}
#content .topspace{
    font-weight:bold;
}
#content .LstA-T1 .LstA-SrCrtLabel,
#content .LstA-T1 .lst-resnav,
#content .LstA-T1 .botspace{
    display:none;
}
