
/* Login */
#content .bloc table.CHP-log td{ background-color:transparent; border:0 none;  }
#content .bloc table.CHP-log td.CHP-LoginLab{ text-align:left; padding:0.5em 0; width:11em;}
#content .bloc table.CHP-log td.CHP-text input{ border:1px solid #E63312; padding:0.2em 0.5em; width:15em;}
#content .bloc table.CHP-log .button { margin:0 auto; width:100%; }
#content .bloc table.CHP-log td.buttonface{ padding:0; margin:0; text-align:left;}
#content .bloc table.CHP-log a.buttonface{ margin-left: 10em; display:block; width:12em; color:#ffffff; font-weight:bold; text-decoration:none; text-align:center; padding:0.3em 2em; font-size:1.1em; border:1px solid #E63312; background:#45a4d3 url('../images/bkgd/bkgd_btn.png') left top repeat-x;}
#content .bloc table.CHP-log td.CHP-Forgot{ padding:0.5em 0;}


/*Liste Type 1 et Type 2*/
#content .bloc table.LstA-T1 td{ border: 1px solid #363842; text-align:left;}
#content .bloc table.LstA-T1 td.LstA-SrCrtLabel{background:none repeat scroll 0 0 transparent; border:0 none; padding:0.5em 0;}
#content .bloc table.LstA-T1 td a{ color:#E63312; }
.centre #content .bloc table.LstA-T1 td a{ color:#308099; }
#content .bloc table.LstA-T1 td.lst-resnav{ color:#a9a8a3; }
#content .bloc table.LstA-T1 td.LstA-bottom, #content .bloc table.LstA-T1 td.lst-button{ border:0 none; background-color:#F5F5F5;}
#content .bloc table.LstA-T1 table.button td.buttonface{ border:1px solid #E63312; background:#E63312 url('../images/bkgd/bkgd_btn.png') left top repeat-x ; height:24px }
.centre #content .bloc table.LstA-T1 table.button td.buttonface{ border:1px solid #308099; background:#308099 url('../images/bkgd/bkgd_btn_centre.png') left top repeat-x ; height:24px }
#content .bloc table.LstA-T1 table.button a.buttonface{ display:block;  color:#ffffff; font-weight:bold; text-decoration:none; text-align:center; padding:0; font-size:1.1em;}
#content .bloc table.LstA-T1 tr.topspace td, #content .bloc table.LstA-T1 tr.topspace td a{ background-color:#E63312; color:#ffffff; text-decoration:none; font-weight:bold; }
.centre #content .bloc table.LstA-T1 tr.topspace td, .centre #content .bloc table.LstA-T1 tr.topspace td a{ background-color:#308099; }
#content .bloc table.LstA-T1 tr.topspace td{ padding:0.5em 0; text-align:center;}
#content .bloc table.LstA-T1 tr.topspace td.LstAHead1{ width:300px;}
                                                                                                 
/* Recherche */
#content .bloc table.SA-T2{ margin:5px 0;}
#content .bloc table.SA-T2 td{ border:0 none;  background-color: transparent; padding:0;}
#content .bloc table.SA-T2 td.SA-F1, #content .bloc table.SA-T2 td.SA-F2, #content .bloc table.SA-T2 td.SA-F3, #content .bloc table.SA-T2 td.SA-F4,
#content .bloc table.SA-T2 td.SA-F5, #content .bloc table.SA-T2 td.SA-F6, #content .bloc table.SA-T2 td.SA-F7{ color:#E63312; font-size:14px; font-weight:bold; padding:8px 0;}
.centre #content .bloc table.SA-T2 td.SA-F1, .centre #content .bloc table.SA-T2 td.SA-F2, .centre #content .bloc table.SA-T2 td.SA-F3, .centre #content .bloc table.SA-T2 td.SA-F4,
.centre #content .bloc table.SA-T2 td.SA-F5, .centre #content .bloc table.SA-T2 td.SA-F6, .centre #content .bloc table.SA-T2 td.SA-F7{ color:#308099; }
#content .bloc table.SA-T2 form .text input,#content .bloc table.SA-T2 form input.text,#content .bloc table.SA-T2 form textarea, select{ width:300px; color:#363842; }
#content .bloc table.SA-T2 table.button td.buttonface { border:1px solid #E63312; background:#45a4d3 url('../images/bkgd/bkgd_btn.png') left top repeat-x ; height:24px }
.centre #content .bloc table.SA-T2 table.button td.buttonface { border:1px solid #308099; background:#308099 url('../images/bkgd/bkgd_btn_centre.png') left top repeat-x ; }
#content .bloc table.SA-T2 table.button a.buttonface{ display:block;  color:#ffffff; font-weight:bold; text-decoration:none; text-align:center; padding:0; font-size:1.1em;}

/* Offre*/
#content .bloc table.JD-Tmaster {  }
#content .article table.JD-Tmaster td{  border:0 none; background:none repeat scroll 0 0 #F5F5F5; padding:0.5em 0;  }
#content .bloc table.JD-Tmaster td.JD-Title{  color: #363842; 	font-family: Arial, sans-serif;	font-weight: bold;	padding: 15px 6px 15px 0; font-size: 20px; }
#content .bloc table.JD-Tmaster td.contspacer{ padding:0;}
#content .bloc table.JD-Tmaster td.contspacer td.JD-HDText{ padding:0; font-size:12px; color:#E63312;}
.centre #content .bloc table.JD-Tmaster td.contspacer td.JD-HDText{ color:#308099;}
#content .bloc table.JD-Tmaster td.contspacer td.JD-HDText .JD-HDLabel { color:#363842; }
#content .bloc table.JD-Tmaster .JD-FieldLabel {color:#E63312;  font-weight: bold; 	font-size: 14px; 	padding:3px 8px 3px 0; }
.centre #content .bloc table.JD-Tmaster .JD-FieldLabel {color:#308099; }
#content .bloc table.JD-Tmaster .JD-FieldText{ padding:0.5em 0; }
#content .bloc table.JD-Tmaster table.button { width:166px; }
#content .bloc table.JD-Tmaster table.button td.buttonface { border:1px solid #E63312; background:#45a4d3 url('../images/bkgd/bkgd_btn.png') left top repeat-x ; height:24px; padding:0;}
.centre #content .bloc table.JD-Tmaster table.button td.buttonface { border:1px solid #308099; background:#308099 url('../images/bkgd/bkgd_btn_centre.png') left top repeat-x ; }
#content .bloc table.JD-Tmaster table.button a.buttonface{ display:block;  color:#ffffff; font-weight:bold; text-decoration:none; text-align:center; padding:0; font-size:1.1em;}
#content .article table.JD-Tmaster td.greyline, #content .article table.JD-Tmaster td.titspacer, #content .article table.JD-Tmaster td.descspacer{ padding:0; font-size:0;}
#content .bloc table.button{ margin:0 auto; width:150px;}
#content .article table.button{ margin:0;}
#content .article table.toppanebuttons td { padding:0; }
#content .bloc table.toppanebuttons td.printbutton{ clear:both; }
#content .bloc table.toppanebuttons td.printbutton table.button{ float:right;}

/* Ajout Kaliop = Espace connecte*/
.ted_connect {  border-top:30px solid #363842; padding-top:20px; background:#FFFFFF url("../images/bkgd/bkgd_body.png") no-repeat center top;  }
.ted_connect h1 { font-size:1.251em; font-weight:bold; border-bottom:6px solid #E63312; }
.centre .ted_connect h1 { border-bottom:6px solid #308099; }
.ted_connect h1 span {  background-color:#E63312; color:#FFFFFF; padding:4px 2px 0 12px; display:block; width:350px; }
.centre .ted_connect h1 span {  background-color:#308099; }
#page #content table.CHP-T1 td {  border:0 none; background:none repeat scroll 0 0 #F5F5F5; padding:0; vertical-align:top; }
#page #content table.CHP-T1 td .CHP-Welcome {  font-size:1.25em; font-weight:bold; color:#363842; }
#page #content table.CHP-T1 td .chpspacer1 {  display:none; }
#page #content table.CHP-T1 td .CHP-Welcome2 {  }
#page #content table.CHP-T1 td.CHP-titleH {  font-weight:bold; color:#E63312; font-size:1.4em; padding:2em 0 1em;}
.centre #page #content table.CHP-T1 td.CHP-titleH { color:#308099; }
#page #content table.CHP-T1 table td.CHP-titleH {  font-weight:bold; color:#363842; font-size:1.1em; padding:0 0 1em 0;}
#page #content table.CHP-T1 td.lstitle { display:none; }
#page #content table.CHP-T1 td.CHP-Content img { display:none; }
#page #content table.CHP-T1 td.CHP-Content { padding:0.3em 0; }
#page #content table.CHP-T1 td.CHP-Content font { background:url("../images/pictos/puce_triangle_noir_medium.png") no-repeat left center; padding-left:10px; }
#page #content table.CHP-T1 td.CHP-Content a { color:inherit;}
#page #content table.CHP-T1 td.chpdate { padding:0.5em; background:#fff; font-weight:bold; border:1px solid #F5F5F5; }
#page #content table.CHP-T1 td.chpjob { padding:0.5em; font-weight:bold; background:#fff; border:1px solid #F5F5F5; }
#page #content table.CHP-T1 .chpaction { text-align:right; }
#page #content table.CHP-T1 td.chpjob .chpaction img { display:none; margin-top:0; }
#page #content table.CHP-T1 td.chpjob .chpaction a { font-weight:normal;}
#page #content table.CHP-T1 table {  margin:0;  }


