<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="description" content="StarPU">
    <meta name="author" content="StarPU Developer Team">
    <link rel="stylesheet" href="/css/lib/bootstrap-4.1.1.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.2/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap_carousel.css">
    <link rel="stylesheet" href="/css/overrides.css">
    <script src="/js/lib/jquery-3.3.1.min.js"></script>
    <script src="/js/lib/popper-1.14.3.min.js"></script>
    <script src="/js/lib/bootstrap-4.1.1.min.js"></script>


    {% seo %}
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="index.html">StarPU</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/index.html"><i class="fa fa-home" aria-hidden="true">&nbsp;</i>Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/features.html"><i class="fa fa-lightbulb" aria-hidden="true">&nbsp;</i>Features</a></li>
          <li class="nav-item"><a class="nav-link" href="/timeline.html"><i class="fa fa-timeline" aria-hidden="true">&nbsp;</i>Timeline</a></li>
          <li class="nav-item"><a class="nav-link" href="/news.html"><i class="fa fa-newspaper" aria-hidden="true">&nbsp;</i>News</a></li>
          <li class="nav-item"><a class="nav-link" href="/publications.html"><i class="fa fa-book" aria-hidden="true">&nbsp;</i>Publications</a></li>
          <li class="nav-item"><a class="nav-link" href="/contributors.html"><i class="fa fa-users" aria-hidden="true">&nbsp;</i>Contributors</a></li>
          <li class="nav-item"><a class="nav-link" href="/download.html"><i class="fa fa-download" aria-hidden="true">&nbsp;</i>Download</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="navbarDropdown">Documentation</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/quickGuide.html"><i class="fa fa-cog" aria-hidden="true">&nbsp;</i>Quick Start Guide</a>
              <a class="dropdown-item" href="/doc.html"><i class="fa fa-book" aria-hidden="true">&nbsp;</i>Full documentation</a>
              <a class="dropdown-item" href="/involved.html"><i class="fa fa-wrench" aria-hidden="true">&nbsp;</i>Contributing</a>
              <a class="dropdown-item" href="/tutorials.html"><i class="fa fa-briefcase" aria-hidden="true">&nbsp;</i>Tutorials</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="navbarDropdown">Ressources</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/software.html"><i class="fa fa-uncharted" aria-hidden="true">&nbsp;</i>Software</a>
              <a class="dropdown-item" href="/market.html"><i class="fa fa-ship" aria-hidden="true">&nbsp;</i>Task Graph Market</a>
              <a class="dropdown-item" href="https://starpu.gitlabpages.inria.fr/benchmarks/"><i class="fa fa-battery-three-quarters" aria-hidden="true">&nbsp;</i>Benchmarks</a>
	    </div>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="navbarDropdown">Repositories</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="https://gitlab.inria.fr/starpu/starpu" target="blank"><i class="fab fa-gitlab" aria-hidden="true">&nbsp;</i>GitLab</a>
              <a class="dropdown-item" href="https://github.com/starpu-runtime/starpu" target="blank"><i class="fab fa-github" aria-hidden="true">&nbsp;</i>GitHub mirror</a>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="/help.html"><i class="fa fa-handshake" aria-hidden="true">&nbsp;</i>Help</a></li>
          <li class="nav-item"><a class="nav-link" href="https://gitlab.inria.fr/starpu/starpu-intranet/-/wikis/home"><i class="fa fa-user-secret" aria-hidden="true">&nbsp;</i>Intranet</a></li>
        </ul>
      </div>
    </nav>

    <!-- MAIN CONTENT -->
    <div id="main_content" class="container">
      {{ content }}
    </div>
  </body>
</html>
